# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
.idea/copyright/profiles_settings.xml
.idea/.name
*.iml
out/production/OCAJSE8/be/zatenzu/oca/js8/access/defaultaccess/conclusion.txt
out/production/OCAJSE8/be/zatenzu/oca/js8/polymorphism/hindingstatic/rules.txt
out/production/OCAJSE8/be/zatenzu/oca/js8/polymorphism/overridding/OverridingRules.txt
.idea/compiler.xml
.idea/scopes/scope_settings.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/modules.xml
out/production/OCAJSE8/be/zatenzu/oca/js8/access/protectedaccess/conslusion.txt
out/production/OCAJSE8/be/zatenzu/oca/js8/polymorphism/overloading/OverloaddingRules.txt
.idea/vcs.xml
.idea/encodings.xml
out/production/OCAJSE8/be/zatenzu/oca/js8/wrappers/WrapperConstructors.png
out/production/OCAJSE8/be/zatenzu/oca/js8/primitives/primitives.png
out/production/OCAJSE8/be/zatenzu/oca/js8/exceptions/exceptions.uml
